@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins);

  /* Colors */
  --color-main: #09090b;
  --color-card: #18181b;
  --color-hover: #27272a;
  --color-subtle: #3f3f46;

  --color-primary: #22c55e;
  --color-primary-hover: #16a34a;
  --color-primary-glow: #4ade80;

  --color-accent-purple: #a855f7;

  /* Text Colors */
  --color-text-primary: #ffffff;
  --color-text-secondary: #a1a1aa;
  --color-text-muted: #71717a;

  /* Shadows */
  --shadow-xl:
    0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);

  /* Utilities */
  --background-image-radial-vignette: radial-gradient(
    circle,
    transparent 0%,
    rgba(0, 0, 0, 0.4) 100%
  );
}

:root {
  --background: var(--color-main);
  --foreground: var(--color-text-primary);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-main);
}
::-webkit-scrollbar-thumb {
  background: var(--color-subtle);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-hover);
}
